<h1>Search for users</h1>

<%= link_to "Back to event page", event_path(params[:event_id]) %>
<br></br>

<%=  form_tag users_index_path, :method => 'get' do  %>
  <%= label_tag(:search, "Search users by name or email") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag("Search", :name => nil) %>
<% end %>

<% @users.each do |user| %>
  <hr>
  <p>Name: <%= user.name %></p>
  <p>Email: <%= user.email %></p>
  <% if user.recieved_invitations.find_by(event_id: params[:event_id]).nil? %>
    <p><%= button_to "Send Invitation", invitations_path , params: { :invitation => { invite_creator_id: current_user.id, recipient_id: user.id, event_id: params[:event_id]}} %></p>
  <% else %>
    <p><%= link_to "Rescind Invitation", invitation_path(user.recieved_invitations.find_by(event_id: params[:event_id])), data: {turbo_method: :delete} %></p> 
  <% end %>
  <hr>
<% end %>
