<h1><%= @user.name %></h1>

<h2>Invitation Inbox</h2>

<% @user.recieved_invitations.responded.each do |r| %>
  <% unless @user.attended_events.ids.include?(r.event_id) %>
    <% end %>
     
<% end %>

<% @user.recieved_invitations.unresponded.each do |u| %>
  <p>
    Event: <%= u.event.title %>, Date <%= u.event.date %>
    <% if u.response.nil? %>
      <p>
      <%= button_to "Accept", invitation_path(u), params: {response: 'attend', event_id: u.event.id, }, method: :patch %>
      <%= button_to "Decline", invitation_path(u), params: {response: 'decline'}, method: :patch %>
      </p>
      
    <% end %>
  </p>
<% end %>

<h2>Created Events</h2>

<h3>Private</h3>
<% @user.created_events.private_event.each do |e| %>
  <hr>
  <p>
    Title: <%= e.title %><br>
    Date: <%= e.date %><br>
    Visibility: <%= e.visibility %><br>

    <div class="event-actions">
      <p><%= link_to 'Edit', edit_event_path(e) %></p>
      <p><%= link_to "Delete", event_path(e), data: { turbo_method: :delete} %></p>
    </div>
  </p>

  <p><%= link_to "Details", event_path(e) %></p>
  <hr>
<% end %>
<br>

<h3>Public</h3>
<% @user.created_events.public_event.each do |e| %>
  <hr>
  <p>
    Title: <%= e.title %><br>
    Date: <%= e.date %><br>
    Visibility: <%= e.visibility %><br>

    <div class="event-actions">
      <p><%= link_to 'Edit', edit_event_path(e) %></p>
      <p><%= link_to "Delete", event_path(e), data: { turbo_method: :delete} %></p>
    </div>
  </p>

  <p><%= link_to "Details", event_path(e) %></p>
  <hr>
<% end %>
<br>

<h2>Past Events</h2>
<% @user.attended_events.past.each do |e| %>
  <hr>
  <p>
    Title: <%= e.title %><br>
    Date: <%= e.date %><br>
    Visibility: <%= e.visibility %>
  </p>
  <p><%= link_to "Details", event_path(e) %></p>
  <hr>
<% end %>
<br>

<h2>Upcoming Events </h2>
<% @user.attended_events.future.each do |e| %>
  <hr>
  <p>
    Title: <%= e.title %><br>
    Date: <%= e.date %><br>
    Visibility: <%= e.visibility %>

  </p>
  <p><%= link_to "Details", event_path(e) %></p>
  <hr>
<% end %>
