
  <div class="container">
    <div class="columns">
      <div class="column">

        <section class="section invitation-inbox">
          <h1 class="title is-3 has-text-white-ter"><%= @user.name %></h1>
          <%= link_to "Edit profile", edit_user_registration_path, class: "button is-white is-outlined"%>
          <br></br>
          <h2 class="title is-4 has-text-white-ter">Invitation Inbox</h2>
          <% if @user.recieved_invitations.unresponded.empty? %>
            <p class="title is-6 has-text-warning">Inbox empty</p>
          <% end %>
          <div class="columns is-multiline">
            <% @user.recieved_invitations.unresponded.each do |u| %>
              <div class="column is-one-quarter">
                <div class="box has-background-grey-dark">
                  <% if u.event.date >= Date.today %>
                    <p class="title is-5 has-text-white-ter">
                    <%= u.event.title %>
                    </p>
                    <p class="subtitle has-text-white-ter">
                    <%= u.event.date %>
                    </p>
                    <div class="field is-grouped">
                      <p class='control'>
                      <%= link_to "Details", event_path(u.event), class: "button is-primary is-outlined"%>     
                      </p>
                    </div>
                    <div class="field is-grouped">
                      <p class="control">
                      <%= link_to "Accept", invitation_path(u, :response => 'attend', :event_id => u.event.id), data:{turbo_method: :patch}, class: "button is-info" %>
                      <%= link_to "Decline", invitation_path(u, :response => 'decline'), method: :patch, class: "button is-info" %>
                      </p>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </section>

        <section class="section created-events">
          <h2 class="title is-4 has-text-white-ter">Created Events</h2>
          <h3 class="title is-5 has-text-white-ter">Private</h3>
          <div class="columns is-multiline">
            <% @user.created_events.private_event.each do |event| %>
              <%= render( "events/event_card", event: event) %>
            <% end %>
            <br>
          </div>
          <h3 class="title is-5 has-text-white-ter">Public</h3>
          <div class="columns is-multiline">
            <% @user.created_events.public_event.each do |event| %>
              <%= render("events/event_card", event: event) %>
            <% end %>
            <br>
          </div>
        </section>

        <section class="section attending-events">
          <h2 class="title is-4 has-text-white-ter">Attending Events</h2>
          <h3 class="title is-5 has-text-white-ter">Upcoming</h2>
          <div class="columns is-multiline">
            <% @user.attended_events.future.each do |event| %>
              <%= render("events/event_card", event: event) %>
            <% end %>
            <br>
          </div>
          <h3 class="title is-5 has-text-white-ter">Past</h3>
          <div class="columns is-multiline">
            <% @user.attended_events.past.each do |event| %>
              <%= render("events/event_card", event: event) %>
            <% end %>
            <br>
          </div>
        </section>

      </div>
    </div>
  </div>



