<h1><%= @user.name %></h1>

<h2>Created Events</h2>
<% @user.created_events.each do |e| %>
  <hr>
  <p>
    Title: <%= e.title %><br>
    Date: <%= e.date %><br>
    <div class="event-actions">
      <p><%= link_to 'Edit', edit_event_path(e) %></p>
      <p><%= link_to "Delete", event_path(e), data: { turbo_method: :delete} %></p>
    </div>
  </p>

  <p><%= link_to "Details", event_path(e) %></p>
  <hr>
<% end %>
<br>

<h2>Past Events</h2>
<% @user.attended_events.past.each do |e| %>
  <hr>
  <p>
    Title: <%= e.title %><br>
    Date: <%= e.date %>
  </p>
  <p><%= link_to "Details", event_path(e) %></p>
  <hr>
<% end %>
<br>

<h2>Upcoming Events </h2>
<% @user.attended_events.future.each do |e| %>
  <hr>
  <p>
    Title: <%= e.title %><br>
    Date: <%= e.date %>
  </p>
  <p><%= link_to "Details", event_path(e) %></p>
  <hr>
<% end %>
