<h1><%= @event.title %></h1><br />

<p>Location: <%= @event.location %></p>
<p>Date: <%= @event.date %></p>
<p>Creator: <%= @event.creator.name %></p>
<p>Creator Email: <%= @event.creator.email %></p>

  <% if !user_signed_in? %>
    <p><%= button_to "Attend Event", new_user_session_path, method: :get %></p>
  <% elsif UsersEvent.where(attendee_id: current_user.id, event_id: @event.id).exists? %> 
    <p><%= button_to "Not going to make it", users_event_path, method: :delete, params: {users_event_id: UsersEvent.find_by(attendee_id: current_user.id).id } %></p>
  <% else %>
    <p><%= button_to "Attend Event", users_events_path, params: { attendee_id: current_user.id, event_id: @event.id} %></p>
  <% end %>

<h2>Attended By</h2>
<% @event.attendees.each do |a| %>
  <p><%= a.name %></p>
<% end %>
