<h1><%= @event.title %></h1><br />

<p>Location: <%= @event.location %></p>
<p>Date: <%= @event.date %></p>
<p>Creator: <%= @event.creator.name %></p>
<p>Creator Email: <%= @event.creator.email %></p>



