<%# <% unless @event.invitations %>
  <section class="section">
   <div class="container">
     <div class="columns is-centered">
       <div class="column is-half">
         <h1 class="title is-2 has-text-white-ter"><%= @event.title %></h1><br />

         <% if user_signed_in? && @event.invitations.unresponded.where(recipient_id: current_user.id).exists? && @event.date >= Date.today%>
           <h2 class="title is-4 has-text-warning">You've been invited</h2>
           <div class="field is-grouped">
             <p class="control">
             <%= button_to "Accept", invitation_path(@event.invitations.find_by(recipient_id: current_user.id)), params: {response: 'attend', event_id: @event.id }, method: :patch, class: "button is-info is-outlined" %>
             </p>
             <p class="control">
             <%= button_to "Decline", invitation_path(@event.invitations.find_by(recipient_id: current_user.id)), params: {response: 'decline'}, method: :patch, class: "button is-danger is-outlined"%>
             </p> 
           </div>
           <br>
         <% end %>

         <% if @event.date < Date.today %>
           <h2 class="title is-1 has-text-white-ter">Event sign up is closed</h2>
         <% end %>

        
         
         <h3 class="title is-4 has-text-white-ter">Description: </h3>
         <p class="subtitle has-text-white-ter"><%= @event.description %></p><br>
         <h3 class="title is-4 has-text-white-ter">Location: </h3>
         <p class="subtitle has-text-white-ter"><%= @event.location %></p><br>
         <h3 class="title is-4 has-text-white-ter">Date: </h3>
         <p class="subtitle has-text-white-ter"><%= @event.date %></p><br>
         <h3 class="title is-4 has-text-white-ter">Creator: </h3>
         <p class="subtitle has-text-white-ter"><%= @event.creator.name %></p><br>
         <h3 class="title is-4 has-text-white-ter">Creator Email: </h3>
         <p class="subtitle has-text-white-ter"><%= @event.creator.email %></p><br>

       

         <% if @event.visibility == 'public' && @event.date >= Date.today %>
           <% if !user_signed_in? %>
             <p><%= button_to "Attend Event", new_user_session_path, method: :get, class: "button is-info" %></p>
           <% else %>
             <% if UsersEvent.where(attendee_id: current_user.id, event_id: @event.id).exists? %> 
               <p><%= button_to "Not going to make it", users_event_path, method: :delete, params: {users_event_id: UsersEvent.find_by(attendee_id: current_user.id).id }, class: "button is-warning" %></p><br>
             <% else %>
               <p><%= button_to "Attend Event", users_events_path, params: { attendee_id: current_user.id, event_id: @event.id}, class: "button is-info" %></p><br>
             <% end %>
           <% end %>
         <% end %>

       </div>

       <div class="column is-one-quarter">
         <% if user_signed_in? && current_user.id == @event.creator_id %>
          <h2 class="title is-3 has-text-info">Creator dashboard</h2>
           <div class="field is-grouped">
             <p class="control"><%= link_to 'Edit Event', edit_event_path(@event), class: "button is-warning is-outlined" %></p>
             <p class="control"><%= link_to "Delete Event", event_path(@event), data: { turbo_method: :delete}, class: "button is-danger is-outlined" %></p>
           </div><br>
           <% if @event.date >= Date.today %>
             <p class="control"><%= button_to "Send Invites", users_index_path, method: 'get', params: {event_id: @event.id}, class: "button is-info" %></p>
           <% end %><br>
         <% end %>
         <% if @event.visibility == 'private' && @event.date >= Date.today && @event.creator.id == current_user.id %>
            <h3 class="title is-4 has-text-white-ter">Unanswered Invites</h3><hr>
             <% @event.invitations.where('response IS NULL').each do |i| %>
               <p class="subtitle has-text-white-ter"><%= i.recipient.name %></p>
             <% end %>

             <br>
             <h3 class="title is-4 has-text-white-ter">Declined</h3><hr>
             <% @event.invitations.where("response == ?", 'decline').each do |i| %>
               <p class="subtitle has-text-white-ter"><%= i.recipient.name %></p>
             <% end %>
             <br>
         <% end %>
         <h2 class="title is-3 has-text-white-ter">Attended By</h2><hr>
         <% @event.attendees.each do |a| %>
           <p class="subtitle has-text-white-ter"><%= a.name %></p>
         <% end %>
       </div>
     </div>
   </div> 
  </section>
