<!DOCTYPE html>
<html>
  <head>
    <title>Event Palace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="has-background-dark is-fullheight">
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do%>
          <h1 class="title is-5 has-text-primary-light">Event Palace</h1>
        <% end %>
        <a role="button" class="navbar-burger burger", aria-label='menu', aria-expanded='false', data-target="nav-menu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="nav-menu" class="navbar-menu has-background-dark">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="columns is-mobile is-centered">
              <div id='navButtons' class="column is-narrow field is-grouped">
                
                <% if user_signed_in? %>
                  <p class="control">
                  <%= link_to "Create Event", new_event_path, class: "button is-warning is-outlined" %>
                  </p>
                  <p class="control">
                  <%= link_to "Profile", users_show_path, class: "button is-dark "%>
                  </p>
                  <p class="control">
                  <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete}, class: "button is-dark"%>
                  </p>
                <% else %>
                  <p class="control">
                  <%= link_to "Sign in", new_user_session_path, class: "button is-info" %>
                  </p>
                  <p class="control">
                  <%= link_to "Sign up", new_user_registration_path, class: "button is-info" %>
                  </p>
              </div>
            </div>
          </div> 
        </div>
        <% end %>
      </div>
    </nav>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice has-text-grey-dark"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
